.profile__pic {
    margin: 0;
    padding: 0;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: none;
    z-index: 1;
    background-position: center;
}

@media screen and (max-width: 770px) {
    .profile__pic {
        width: 85px;
        height: 85px;
    }
}

@media screen and (min-width: 320px) and (max-width: 560px) {
    .profile__pic {
        max-width: 120px;
        margin: 0 auto;
    }
}